<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>倍赢金融财富箱</title>
#parse("admin/layout/head.vm")
<link href="$static_url/css/index.css" rel="stylesheet" type="text/css" />
<link href="$static_url/css/enroll.css" rel="stylesheet" type="text/css" />
<link href="$static_url/css/anniu.css" rel="stylesheet" type="text/css" />
</head>

<body style="background-color:#fefefe">
<div style="height:20px; width:100%;">&nbsp;</div>
<div class="logo">
	<div class="logoL"><img src="$static_url/images/logo.png"/></div>
</div>

<div class="e_notice">
尊敬的会员：<span class="e_color_hong">$!user.realName</span>&nbsp;你好！<br/><br/>
恭喜，您已经成功注册了财富箱账户，请您妥善保管好账户信息，以免给您带来不必要的损失！ <br/><br/>
<a href="${front_url}/activate.html?activatedCode=${activatedCode}"  class="anniuRed">激活账户</a> <br/><br/>
如果上述文字点击无效，请把下面网页地址复制到浏览器地址栏中打开： <br/><br/>
${front_url}/activate.html?activatedCode=${activatedCode}
</div>

<div class="e_notice_1">
此为系统邮件，请勿回复<br/>
请保管好您的邮箱，避免财富箱账户被他人盗用<br/>
如由任何疑问，可致电财富箱服务热线：023-62559988
</div>

</body>
</html>