<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>倍赢金融财富箱</title>
#parse("layout/head.vm")
<link href="$static_url/css/index.css" rel="stylesheet" type="text/css" />
<link href="$static_url/css/enroll.css" rel="stylesheet" type="text/css" />
<link href="$static_url/css/anniu.css" rel="stylesheet" type="text/css" />
</head>

<body>
#parse("layout/header.vm")

<div class="enroll">
    <div class="enroll_cg">
		#if($!sendEmail)
    	<div class="enroll_cg2">1.发送邮件成功</div>
		#else
        <div class="enroll_cg2">1.发送邮件失败</div>
		#end
        <div class="enroll_cg1">2.设置新密码</div>
        <div class="enroll_cg1">3.成功</div>
        <div class="enroll_cg3"></div>
    </div>

	<div class="enroll_all">
        
		#if($!sendEmail)
        <div class="e_fail_jh">
        	<div style="width:934px; height:31px;">
   	   		<div class="e_fail_1"><img src="$static_url/images/chenggong.png" width="31" height="31" />&nbsp;</div>
        	<div class="e_fail_2">您的修改密码申请提交成功，请进入邮箱修改密码。</div>
            </div>
            
            <div style="width:934px; height:31px;">
   	   		<div class="e_fail_1">&nbsp;</div>
        	<div class="e_fail_3">您将使用新密码登录账户</div>
            </div>
            
            <div style="width:934px; height:31px;">
   	   		<div class="e_fail_1">&nbsp;</div>
        	<div class="e_fail_3">您可能需要：<a href="http://$!emailHost" target="_blank"><span class="e_color3">立即进入邮箱</span></a></div>
            </div>
            
        </div>
        #else
        <div class="e_fail_jh">
        	<div style="width:934px; height:31px;">
   	   		<div class="e_fail_1"><img src="$static_url/images/fail.png" width="31" height="31" />&nbsp;</div>
        	<div class="e_fail_2">邮件发送失败</div>
            </div>
            <div style="width:934px; height:31px;">
   	   		<div class="e_fail_1">&nbsp;</div>
			#if($!user.userName)
        	<div class="e_fail_3">您可能需要：<a href="$front_url/findPassword.html?userName=$!user.userName&checkcode=$!checkcode"><span class="e_color3">重新发送邮件</span></a></div>
			#end
            </div>
            
        </div>
        #end
       
  </div>
</div>

</body>
</html>
