<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>倍赢金融财富箱</title>
#parse("layout/head.vm")
<link href="$static_url/css/index.css" rel="stylesheet" type="text/css" />
<link href="$static_url/css/enroll.css" rel="stylesheet" type="text/css" />
<link href="$static_url/css/anniu.css" rel="stylesheet" type="text/css" />
<script src="$static_url/admin/js/jquery.min.js"></script>
<script src="$static_url/admin/js/jquery.validate.js"></script>
<script src="$static_url/admin/js/jquery.metadata.js"></script>
<script src="$static_url/admin/js/messages_cn.js"></script>

<script text="text/javascript">
	flag = true;
	
	function changeCode(){
		$("#codes").attr("src","/checkcode.html?img="+Math.random());
	}
	
	$(function(){
		$("form").validate();
	
		$("#username").blur(function(){
			var name = $(this).val();
			if(name){
	    		jQuery.ajax({
	    			url:"$front_url/findUser.json",
	    			data:{"username":name},
					type:"post",
					dataType:"json",
					success:function(response){
						$("#userNameTishi").hide();
						$("#email>input").val(response.email);
						
					},
					error:function(response){
						$("#userNameTishi").show();
					}
	    		});
			 }
		});
		$("#mobile").blur(function(){
			var name = $("#username").val();
			var mobile = $(this).val();
			if(name && mobile && !isNaN(mobile)){
	    		jQuery.ajax({
	    			url:"$front_url/checkPhone.json",
	    			data:{"username":name,"mobile":mobile},
					type:"post",
					dataType:"json",
					success:function(response){
						if(response.result != "success"){
							$("#mobileTishi").show();
							flag = false;
						}else{
							$("#mobileTishi").hide();
							flag = true;
						}
					},
					error:function(response){
						$("#userNameTishi").show();
					}
	    		});
			}
		});
		
	});
	
	function checkss(){
		return flag;
	}

</script>

</head>

<body>
#parse("layout/header.vm")

<div class="enroll">

    <div class="enroll_cg">
    	<div class="enroll_cg2">1.发送邮件</div>
        <div class="enroll_cg1">2.设置新密码</div>
        <div class="enroll_cg1">3.成功</div>
		<div class="enroll_cg1"></div>
        <div class="enroll_cg3"></div>
    </div>

	<div class="enroll_all">
        <form action="$front_url/findPassword.html" method="post" onsubmit="return checkss()">
        <div class="Forgot_pwd_all">
 			<div class="Forgot_pwd1">
            	<div class="Forgot_pwd1_L"><span class="color_Orange">*</span>&nbsp;用户名：</div>
                <div class="Forgot_pwd1_R"><input id="username" name="userName" type="text" class="e_text1 {required:true,messages:{required:'<span style=\'color:red;\'>请填写用户名</span>'}}"/>
                &nbsp;&nbsp;<span id="userNameTishi" style="display:none;"><img src="$static_url/images/zhuyi.png"/>&nbsp;<span class="e_color_hong">该账户不存在</span></span>
				</div>
            </div>
##            <div class="Forgot_pwd1">
##            	<div class="Forgot_pwd1_L"><span class="color_Orange">*</span>&nbsp;绑定手机号：</div>
##                <div class="Forgot_pwd1_R">
##					<input id="mobile" name="mobile" type="text" maxlength="13" class="e_text1 {required:true,digits:true,messages:{required:'<span style=\'color:red;\'>请填写手机号码</span>',digits:'<span style=\'color:red;\'>请填写正确的手机号码</span>'}}"/>&nbsp;&nbsp;
##					
##					<span id="mobileTishi" style="display:none;">
##						<img src="$static_url/images/zhuyi.png"/>&nbsp;<span class="e_color_hong">用户手机验证失败</span>
##					</span>
##				</div>
##            </div>
			<div style="display:block;" id="shows">
                <div class="Forgot_pwd1">
                	<div class="Forgot_pwd1_L"><span class="color_Orange">*</span>邮箱地址：</div>
                    <div class="Forgot_pwd1_R" id="email"><input disabled class="e_text1"/></div>
                </div>
                <div class="Forgot_pwd1">
                	<div class="Forgot_pwd1_L"><span class="color_Orange">*</span>&nbsp;验证码：</div>
                  	<div class="Forgot_pwd1_R">
                  		<div class="Forgot_pwd1_R_1"><input name="checkcode" type="text" class="e_text3 {required:true,messages:{required:'<span style=\'color:red\'>*</span>'}}"/>&nbsp;&nbsp;</div>
                        <div class="Forgot_pwd1_R_2" style="padding-top:5px;"><img id="codes" style="height:30px;width:100px;" src="$front_url/checkcode.html" onclick = "this.src='checkcode.html?img='+Math.random()"/>&nbsp;&nbsp;</div>
                        <div class="Forgot_pwd1_R_3"><a href="javascript:void(0)" onclick="changeCode()">换一张</a>&nbsp;&nbsp;
							<span style="display:none;"><img src="$static_url/images/zhuyi.png" width="16" height="17" />&nbsp;<span class="e_color_hong">$!errs</span></span>
						</div>
                  	</div>
                </div>
                <div class="Forgot_pwd1">
                	<div class="Forgot_pwd1_L"></div>
                    <div class="Forgot_pwd1_R">
                    	<span class="Forgot_pwd_font1">请输入图片中的内容，不区分大小写。</span>
                    </div>
                </div>
			</div>
            <div class="Forgot_pwd1_b">
            	<div class="Forgot_pwd1_L"></div>
                <div class="Forgot_pwd1_R"><input type="submit" value="确定" class="Forgot_pwd_botton1" /></div>
            </div>
            
        </div>
        </form>
       
  </div>
</div>

</body>
</html>
