<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>倍赢金融财富箱</title>
#parse("layout/head.vm")
    <link href="$static_url/css/index.css" rel="stylesheet" type="text/css" />
    <link href="$static_url/css/enroll.css" rel="stylesheet" type="text/css" />
    <link href="$static_url/css/anniu.css" rel="stylesheet" type="text/css" />
</head>

<body>
#parse("layout/header.vm")

<div class="enroll">

    <div class="enroll_cg">
    	<div class="enroll_cg1">1.发送邮件</div>
        <div class="enroll_cg1">2.设置新密码</div>
		#if($!resetPasswordResult)
        <div class="enroll_cg2">3.成功</div>
		#else
        <div class="enroll_cg2">3.失败</div>
		#end
        <div class="enroll_cg3"></div>
    </div>

	<div class="enroll_all">
        
		#if($!resetPasswordResult)
        <div class="e_fail_jh">
        	<div style="width:934px; height:31px;">
   	   		<div class="e_fail_1"><img src="$static_url/images/chenggong.png" width="31" height="31" />&nbsp;</div>
        	<div class="e_fail_2">您的登录密码重新设置成功，请妥善保存您的密码。</div>
            </div>
            
            <div style="width:934px; height:31px;">
   	   		<div class="e_fail_1">&nbsp;</div>
        	<div class="e_fail_3">您将使用新密码登录账户</div>
            </div>
            
            <div style="width:934px; height:31px;">
   	   		<div class="e_fail_1">&nbsp;</div>
        	<div class="e_fail_3">您可能需要：<a href="$front_url/login.html"><span class="e_color3">立即登录</span></a></div>
            </div>
            
        </div>
        #else
        <div class="e_fail_jh">
        	<div style="width:934px; height:31px;">
   	   		<div class="e_fail_1"><img src="$static_url/images/fail.png" width="31" height="31" />&nbsp;</div>
        	<div class="e_fail_2">设置新密码失败</div>
            </div>
            <div style="width:934px; height:31px;">
   	   		<div class="e_fail_1">&nbsp;</div>
        	<div class="e_fail_3">您可能需要：<a href="$!front_url/user/findPassword.html"><span class="e_color3">重新找回密码</span></a></div>
            </div>
        </div>
        #end
       
  </div>
</div>

</body>
</html>
