<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>倍赢金融财富箱</title>
#parse("layout/head.vm")
    <link href="$static_url/css/index.css" rel="stylesheet" type="text/css" />
    <link href="$static_url/css/enroll.css" rel="stylesheet" type="text/css" />
    <link href="$static_url/css/anniu.css" rel="stylesheet" type="text/css" />
    <script src="$static_url/admin/js/jquery.min.js"></script>
	<script src="$static_url/admin/js/jquery.validate.js"></script>
	<script src="$static_url/admin/js/jquery.metadata.js"></script>
	<script src="$static_url/admin/js/messages_cn.js"></script>
</head>

<body>
#parse("layout/header.vm")

<div class="enroll">

    <div class="enroll_cg">
    	<div class="enroll_cg1">1.发送邮件</div>
        <div class="enroll_cg2">2.设置新密码</div>
        <div class="enroll_cg1">3.成功</div>
        <div class="enroll_cg3"></div>
    </div>

	<div class="enroll_all">
        <form action="$front_url/resetPassword.html" method="post">
        <div class="Forgot_pwd_all" style="height:100%;">
 			<div class="Forgot_pwd1">
            	<div class="Forgot_pwd1_L"><span class="color_Orange">*</span>&nbsp;用户名：</div>
                <div class="Forgot_pwd1_R"><input disabled class="e_text1" value="$!user.userName"/>&nbsp;&nbsp;</div>
            </div>
            <div class="Forgot_pwd1">
            	<div class="Forgot_pwd1_L"><span class="color_Orange">*</span>&nbsp;新登录密码：</div>
                <div class="Forgot_pwd1_R">
					<input id="newPassword" name="newPassword" type="password" class="e_text1 {required:true,rangelength:[6,20],messages:{rangelength:'<img src=\'$static_url/images/zhuyi.png\' width=\'16\' height=\'17\' /><span class=\'e_color2\'>密码长度不能小于6位</span>'}}"/>
                </div>
            </div>
            <div class="Forgot_pwd1">
            	<div class="Forgot_pwd1_L"></div>
                <div class="Forgot_pwd1_R">
                	<span class="Forgot_pwd_font1">由6-20个英文字母、数字或符号组成。建议使用大小写字母与数字混合设置密码。</span>
                </div>
            </div>
            <div class="Forgot_pwd1">
            	<div class="Forgot_pwd1_L"><span class="color_Orange">*</span>&nbsp;确认新登录密码：</div>
                <div class="Forgot_pwd1_R">
					<input name="newPassword2" type="password" class="e_text1 {required:true,equalTo:'#newPassword',messages:{equalTo:'<img src=\'$static_url/images/zhuyi.png\' width=\'16\' height=\'17\' /><span class=\'e_color2\'>两次输入的登录密码不一致，请重新输入</span>'}}"/>
                </div>
            </div>
            <div class="Forgot_pwd1">
            	<div class="Forgot_pwd1_L"><span class="color_Orange">*</span>&nbsp;新交易密码：</div>
                <div class="Forgot_pwd1_R">
					<input id="newPaymentPassword" name="newPaymentPassword" type="password" class="e_text1 {required:true,rangelength:[6,20],messages:{rangelength:'<img src=\'$static_url/images/zhuyi.png\' width=\'16\' height=\'17\' /><span class=\'e_color2\'>密码长度不能小于6位</span>'}}"/>
                </div>
            </div>
            <div class="Forgot_pwd1">
            	<div class="Forgot_pwd1_L"></div>
                <div class="Forgot_pwd1_R">
                	<span class="Forgot_pwd_font1">由6-20个英文字母、数字或符号组成。建议使用大小写字母与数字混合设置密码，确保和登录密码不同。</span>
                </div>
            </div>
            <div class="Forgot_pwd1">
            	<div class="Forgot_pwd1_L"><span class="color_Orange">*</span>&nbsp;确认新交易密码：</div>
                <div class="Forgot_pwd1_R">
					<input name="newPaymentPassword2" type="password" class="e_text1 {required:true,equalTo:'#newPaymentPassword',messages:{equalTo:'<img src=\'$static_url/images/zhuyi.png\' width=\'16\' height=\'17\' /><span class=\'e_color2\'>两次输入的交易密码不一致，请重新输入</span>'}}"/>
                </div>
            </div>
            
            <div class="Forgot_pwd1_b">
            	<div class="Forgot_pwd1_L">
					<input type="hidden" name="userId" value="$!user.id"/>
					<input type="hidden" name="activatedCode" value="$!activatedCode"/>
				</div>
                <div class="Forgot_pwd1_R"><input type="submit" value="确定" class="Forgot_pwd_botton1" /></div>
            </div>
            
        </div>
        </form>
  </div>
</div>
<script type="text/javascript">
$(function(){
    $("form").validate();
});
</script>
</body>
</html>