<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>业务运营管理系统</title>
#parse("admin/layout/head.vm")
<link href="$static_url/admin/css/css.css" rel="stylesheet" type="text/css" />

<style type="text/css">
a:link {
	color: #8e8e8e;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #8E8E8E;
}
a:hover {
	text-decoration: none;
	color: #F00;
}
a:active {
	text-decoration: none;
	color: #F00;
}
#current,#options { border:1px solid #a0a0a0;}
#replace {cursor:default;overflow:visible;position:relative;}
#current { background:url("$static_url/admin/images/dropdown.png") right center no-repeat;margin-bottom:0;}
#current,#replace,#options li { width:150px;}
#options { border-top:0 none; display:none;list-style-type:none;margin-top:0;position:absolute;width:160px;}
#current,#options li {padding:5px;}
#current,#options,#options li {background-color:#FFF;}
</style>
<script type="text/javascript">
function userStatus(id, status, action){
	if(confirm("确认要" + $(action).text() + "吗？")){
		$.get("$admin_url/cost/userStatus.json?id="+id+"&status="+status,
				function(data){
					if(data.success == "S"){
						if(status=="A"){
							$("#action_" + id).attr("onclick", "userStatus('" + id + "', 'D', this)");
							$("#action_" + id).text("冻结");
							$("#status_"+id).text("正常");
						}else{
							$("#action_" + id).attr("onclick", "userStatus('" + id + "', 'A', this)");
							$("#action_" + id).text("启用");
							$("#status_"+id).text("冻结");
						}
					}else{
						alert(data.msg);
					}
				}
		);
	}
}
</script>
</head>
<body>
<!--  主要内容  -->
<div class="divMain">
	<!--  查询开始  -->
    <form action="$admin_url/cost/commission.html" method="post" id="queryForm">
	<div class="divMain_chaxun">
    	<!--  标题  -->
    	<div class="divMain_chaxun_bt line_botoom">佣金管理</div>
        <!--  查询条件  -->
        <div class="divMain_chaxun_m">
        <!--  查询条件比较多多的情况，字段尽量为4个字，特别是每排第一个字段，尽量让排整齐板式好看；查询条件少，一排显示就不管  -->
        <!--   div高度不定,多了自动挤到下一排   -->
        	<div class="divMain_chaxun_mOne">模块名称：<input name="name" type="text" class="text100" value="$!ENTITY_SEARCH.getName()" maxlength="20"></div>
        	<div class="divMain_chaxun_mOne">分配阶段：
				<select name="allotPhase" class="select100">
					<option value="">全部</option>
					  #foreach($stages in $!Map_CodeList_CommissionTemplatePhase.entrySet())
			            <option value="$!stages.getKey()" #if($!stages.getKey() == $!Entity_Search.getAllotPhase()) selected="selected" #end>$!stages.getValue().getName()</option>
		              #end
				</select>
			</div>
			<div class="divMain_chaxun_mOne">模板状态：
				<select name="status" class="select100">
					<option value="">全部</option>
					  #foreach($stages in $!Map_CodeList_CommissionTemplateStatus.entrySet())
			           <option value="$!stages.getKey()" #if($!stages.getKey() == $!Entity_Search.getStatus()) selected="selected" #end>$!stages.getValue().getName()</option>
		              #end
				</select>
			</div>
            <!--  按钮  -->
        	<div class="divMain_chaxun_mAnniu"><input type="submit" value="提交查询" class="anniu_blue"></div>
        </div>
    </div>
    </form>
    <!--  查询结束  -->
    <!--  列表开始  -->
	<div class="divMain_chaxun">
        <!--  标题  -->
    	<div class="divMain_liebiao_bt line_botoom">
        	<!--每个divMain_liebiao_one01宽度未定，根据具体情况定百分比，加起来总的等于100%-->
        	<span class="divMain_liebiao_one01" style="width:6%;">&nbsp;</span><span class="divMain_liebiao_one01" style="width:20%;">模板名称</span><span class="divMain_liebiao_one01" style="width:21%;">分配阶段</span><span class="divMain_liebiao_one01" style="width:21%;">分配方式</span><span class="divMain_liebiao_one01" style="width:12%;">状态</span><span class="divMain_liebiao_one01" style="width:11%;">&nbsp;操作</span>
        </div>
        <!--   一条内容   -->
		#if($!Pager_CommissionTemplate.getElements().size()>0)
			#foreach($lists in $Pager_CommissionTemplate.getElements())
            <div class="divMain_liebiao_all line_botoom">
            	<span class="divMain_liebiao_one01" style="width:6%;">&nbsp;</span><span class="divMain_liebiao_all01" style="width:20%;">$!lists.getName()</span><span class="divMain_liebiao_all01" style="width:21%;">$!{Map_CodeList_CommissionTemplatePhase.get($!{lists.getAllotPhase()}).getName()}</span><span class="divMain_liebiao_all01" style="width:21%;">$!{Map_CodeList_CommissionTemplateType.get($!{lists.getAllotType()}).getName()}</span><span class="divMain_liebiao_all01" style="width:12%;" id="status_$!lists.getId()">$!{Map_CodeList_CommissionTemplateStatus.get($!{lists.getStatus()}).getName()}</span><span class="divMain_liebiao_all01" style="width:11%;">
            	  <a href="$admin_url/cost/commissionEdit.html?id=$!lists.id">修改</a>|
					#if("$!lists.status"=="D")
    						<a id="action_$!lists.id" href="javascript:void(0)" #if("$!userItem.status"!="D") onclick="userStatus('$!lists.getId()', 'A', this)" #else style="color:gray" #end>启用</a>
    					#else
    						<a id="action_$!lists.id" href="javascript:void(0)" #if("$!userItem.status"!="A") onclick="userStatus('$!lists.getId()', 'D', this)" #else style="color:gray" #end>冻结</a>
    					#end
    			</span>
            </div>
            #end
		#else
			<div class="divNone line_botoom">暂无信息</div>
		#end
		<!-- 前置分页开始-->
          <!--   分页开始   -->
        <div class="divMain_fenye">
           <div class="divMain_fenyeL"><a href="javascript:void(0)"><input type="button" onclick="location.href='$admin_url/cost/commissionEdit.html'" value="新增佣金配置" class="anniu1"/></a></div>
			#parse("admin/layout/pager.vm")
        </div>
    </div>
   <!--  列表结束  -->
</div>
</body>
</html>