<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
#parse("layout/head.vm")
<title>倍赢金融财富箱--战略伙伴</title>
<link href="$static_url/css/index.css" rel="stylesheet" type="text/css" />
<link href="$static_url/css/AboutUs.css" rel="stylesheet" type="text/css" />
<link href="$static_url/css/FortuneBox.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body {
	background-color:#eeeeef;
}
</style>

</head>

<body>
#parse("layout/header.vm")

<div class="FortuneBox1-1"></div>
<div class="FortuneBox1">战略合作伙伴</div>
<div class="FortuneBox2">
	<div class="help1_1">
    	<div class="help1_1_L">重庆市交通融资担保有限公司介绍</div>
        <div class="help1_1_R"></div>
    </div>
    <div class="help2">
    <p>重庆市交通融资担保有限公司成立于2000年4月，前身为重庆市高新技术产业化贷款风险担保资金管理中心，2009年12月经公司化改制，更名为重庆市渝超高新技术担保有限公司；2011年3月，正式更名为重庆市交通融资担保有限公司。为使公司更好适应市场竞争，2013年，公司引进民营企业增资扩股实现了股权多元化改革，其中重庆城市交通开发投资（集团）有限公司占比95%，重庆航蓝资产管理有限公司占比5%，现注册资本52631.58万元，经工商核准的经营范围有：贷款担保、票据承兑担保、贸易融资担保、项目融资担保、信用证担保等融资性担保业务及监管部门规定的其他业务。</p> 
    <p>公司有完善的企业法人治理结构；健全的企业管理制度和风险控制制度；丰富担保业务经验的高级管理人才和相应的金融、贸易、法律、会计等方面的专业人才，具备较高的管理水平和赢利能力。</p> 
    <P>在各上级主管职能部门的关心支持下，公司秉承"诚信、稳健、创新、发展"的经营理念，广泛开展间接融资担保、直接融资担保、非融资担保、再担保及投资咨询、财务顾问等综合金融服务，截止2013年末，公司合作银行达20家，各家银行授信额度放大到8-10倍，授信总额度已超过80亿元，业务从地区和行业上主要集中在主城9区26个区县21个行业，累计为300余户企业或项目提供担保金额70余亿元。据不完全统计，为受保中小企业增加产值130亿元，增加利润3亿元以上，直接带动4万余劳动力就业，增加税收超4亿元，为重庆市地方经济建设和中小微企业发展做出了积极贡献，公司连续4年成功晋升为重庆市融资性担保公司前10强；连续4年被重庆市中小企业局授予"贡献突出担保机构"。</P>
    <p>立足未来，公司将以国家产业政策为依托，依托股东内部巨大、稳定可靠的市场资源，快速、稳健扩大业务规模，拓展市场领域，与社会各界朋友携手共进，真诚合作，用市场化手段促进着重庆城乡统筹发展，成为重庆中小微企业壮大的支撑力，金融发展的助推器，繁荣重庆经济的新力军。</p><br/>
    <b>地 址：重庆市北部新区泰山大道东段梧桐路6号交通开投大厦17层<br/>
    邮 编：400020<br/>
    联系电话：（023）63600882、63602900、6360656、63601881<br/>
    传 真： （023）63600311<br/></b>
    </div>
    <div class="help3"><a href="javascript:history.go(-1);" >返回</a></div>

</div>

<div class="AboutUs_xian"></div>

#parse("layout/footer.vm")
</body>
</html>