<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
#parse("layout/head.vm")
<title>倍赢金融财富箱--公告</title>
<link href="$static_url/css/index.css" rel="stylesheet" type="text/css" />
<link href="$static_url/css/AboutUs.css" rel="stylesheet" type="text/css" />

<script src='$static_url/js/jquery.min.js'></script>
<script src='$static_url/js/jquery.museum.js'></script>
<script>
$(document).ready(function() {
	$.museum($('#content img'));
});
</script>

<style type="text/css">
body {
	background-repeat: repeat-x;
	background-color:#eeeeef;
}
body,td,th {
	font-family: "微软雅黑";
	color: #8b8b8c;
}
.AboutUs_c1_1_a {
	height:30px;
	width: 125px;
	background:#ffffff;
	color:#000000;
	margin-bottom: 2px;
	float:left;
	line-height:30px;
	font-size: 15px;
	padding-left: 40px;
}
a:hover{
	color:red;
	background:#b6b6b7;
}
#content img { height: 120px;border: 1px solid #FFF; padding: 2px; }
#content img:hover { border: 1px solid #d3332d; }

</style>

</head>

<body>
#parse("layout/header.vm")

<div class="AboutUs1">
	<div class="AboutUs1_L">
    	<div class="AboutUs1_L_u"><img src="$static_url/images/aboutus1.png" width="191" height="67" /></div>
        <div class="AboutUs1_L_b">
        	<a href="$front_url/platformNotice.html">平台公告</a>
            <a href="$front_url/platformNotice.html?hy" class="on">行业新闻</a>
        </div>
   </div>
  <div class="AboutUs1_R">
    <div class="AboutUs1_R1">
      <div class="AboutUs1_R1_L"><b>平台公告</b></div>
        <div class="AboutUs1_R1_R"></div>
    </div>
     <div class="AboutUs1_R2_news"><b>热烈祝贺第一期国资担保借款项目成立</b><br/></div>
    <div class="AboutUs1_R3">
	
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重庆倍赢金融服务有限公司自开业以来，首次发布重庆市交通融资担保有限公司的国资担保借款项目，众望所归，成功满标！首期为半年期、年化收益10.8%、总金额300万的借款项目，一经上线，便引来了各方的重点关注和出借人的极大热情。<br /><br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重庆市交通融资担保有限公司于2000年4月成立，并于2013年增资扩股，现注册资本52631.58万元。公司连续四年列重庆市融资性担保公司前10强；连续四年被重庆市中小企业局授予“贡献突出担保机构”。公司通过为中小企业主增信，借助互联网金融发展东风，扶持了重庆的中小微企业发展，得到了广大中小微企业的充分认可和行业内外的极高评价。</br></br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在此，重庆倍赢金融服务有限公司衷心感谢重庆交通融资担保有限公司及参与各方对财富箱平台的大力支持与信任，我们将再接再厉，努力做好金融服务工作，不断完善财富箱平台，为中小微企业主、担保机构、出借人搭建一个安全、快捷的金融服务平台。</br></br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="margin-left:580px;">——倍赢金融服务团队</span></br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="margin-left:630px;">2014-11-18</span></br></br>
    <div class="news_fanhui"><a href="javascript:history.go(-1);">返回</a></div>
     </div>
  </div>
</div>

<div class="AboutUs_xian"></div>

#parse("layout/footer.vm")
</body>
</html>
