<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
#parse("layout/head.vm")
<title>倍赢金融财富箱--公告</title>
<link href="$static_url/css/index.css" rel="stylesheet" type="text/css" />
<link href="$static_url/css/AboutUs.css" rel="stylesheet" type="text/css" />

<script src='$static_url/js/jquery.min.js'></script>
<script src='$static_url/js/jquery.museum.js'></script>
<script>
$(document).ready(function() {
	$.museum($('#content img'));
});
</script>

<style type="text/css">
body {
	background-repeat: repeat-x;
	background-color:#eeeeef;
}
body,td,th {
	font-family: "微软雅黑";
	color: #8b8b8c;
}
.AboutUs_c1_1_a {
	height:30px;
	width: 125px;
	background:#ffffff;
	color:#000000;
	margin-bottom: 2px;
	float:left;
	line-height:30px;
	font-size: 15px;
	padding-left: 40px;
}
a:hover{
	color:red;
	background:#b6b6b7;
}
#content img { height: 120px;border: 1px solid #FFF; padding: 2px; }
#content img:hover { border: 1px solid #d3332d; }

</style>

</head>

<body>
#parse("layout/header.vm")

<div class="AboutUs1">
	<div class="AboutUs1_L">
    	<div class="AboutUs1_L_u"><img src="$static_url/images/aboutus1.png" width="191" height="67" /></div>
        <div class="AboutUs1_L_b">
        	<a href="$front_url/platformNotice.html" class="on">平台公告</a>
            <a href="$front_url/platformNotice.html?hy">行业新闻</a>
        </div>
   </div>
  <div class="AboutUs1_R">
    <div class="AboutUs1_R1">
      <div class="AboutUs1_R1_L"><b>平台公告</b></div>
        <div class="AboutUs1_R1_R"></div>
    </div>
     <div class="AboutUs1_R2_news"><b>重庆互联网金融添新军</b><br/><span style="font-size:13px;">2014年10月30日 13:58　转载自<a href="http://www.ifeng.com" target="_blank">凤凰网</a> </span></div>
    <div class="AboutUs1_R3">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>重庆晨报</b>讯 记者 邹俊 &nbsp;&nbsp;作为巴南区重点发展的新型金融企业，以“财富箱”突入互联网金融的重庆倍赢金融服务有限公司，昨日在巴南举行启动仪式，重庆互联网金融市场又多了一支生力军。<br/><br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重庆倍赢金融注册资本1000万，该公司主要通过“财富箱”互联网金融服务平台，为中小企业提供投融资咨询、贷款信息咨询、股权投资、企业管理、商务信息咨询等系列金融服务。记者在倍赢金融财富箱官网看到，目前已推出了5个项目，融资额超1300万，年化收益12.6%。
        <a href="http://cq.ifeng.com/economy/news/detail-1_2014_10/29/3075465_0.shtml" target="_blank">查看原文</a>
		
    <div class="news_fanhui"><a href="javascript:history.go(-1);">返回</a></div>
     </div>
  </div>
</div>

<div class="AboutUs_xian"></div>

#parse("layout/footer.vm")
</body>
</html>
