<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>index</title>
#parse("layout/head.vm")
</head>

<body>
#parse("layout/header.vm")

index body

#parse("layout/footer.vm")
</body>
</html>
