<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<title>业务管理后台</title>
#parse("admin/layout/head.vm")
<link href="$static_url/admin/css/admin.css" rel="stylesheet" type="text/css" />

<script src="$static_url/admin/js/jquery.min.js"></script>
<script src="$static_url/admin/js/jquery.validate.js"></script>
<script src="$static_url/admin/js/jquery.metadata.js"></script>
<script src="$static_url/admin/js/messages_cn.js"></script>
<script>
	$(function() {
		// 表单校验
		$("form").validate({
			rules : {
				name	: {required : true},
				serial	: {required : true}
			}
		});
	});
</script>

<style type="text/css">
form {
	  margin: 0;
	}
textarea {
	  display: block;
	}

a:link {
	color: #8e8e8e;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #8E8E8E;
}
a:hover {
	text-decoration: none;
	color: #F00;
}
a:active {
	text-decoration: none;
	color: #F00;
}
#current,#options { border:1px solid #a0a0a0;}
#replace {cursor:default;overflow:visible;position:relative;}
#current { background:url("$static_url/admin/images/dropdown.png") right center no-repeat;margin-bottom:0;}
#current,#replace,#options li { width:150px;}
#options { border-top:0 none; display:none;list-style-type:none;margin-top:0;position:absolute;width:160px;}
#current,#options li {padding:5px;}
#current,#options,#options li {background-color:#FFF;}
</style>
</head>
<body>
<table width="99%" height="6px" border="0" bgcolor="#0f97cb" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td></td>
  </tr>
</table>

<table width="99%" height="34px" border="0" bgcolor="#ffffff" cellspacing="0" cellpadding="0" align="center" class="bian1">
  <tr>
  	<td width="15px"></td>
    <td class="main1">修改专题<a href="Marketers_TJ.html"><span class="Mcolor_1"></span> </a></td>
  </tr>
</table>

<table width="99%" height="16px" border="0" background="$static_url/admin/images/main1.gif" cellspacing="0" cellpadding="0" align="center" class="bian1">
  <tr>
  	<td width="15px"><img src="$static_url/admin/images/main1.jpg" alt="" width="123" height="16" /></td>
    <td></td>
  </tr>
</table>

<form action="$admin_url/content/doSubjectEdit.html" method="post" enctype="multipart/form-data">
<table width="99%" border="0" bgcolor="#edf5f6" cellspacing="0" cellpadding="0" align="center" class="bian2">

    <tr>
	    <td width="3%" height="50px">&nbsp;<input type="hidden" name="id" value="$!subject.id"/></td>
	    <td width="8%"><span class="Mcolor_1">*</span>专题名称：</td>
	    <td width="89%"><input type="text" id="name" name="name" class="Mtext_bj" value="$!subject.name"/></td>
	</tr>
    
    <tr>
	    <td width="3%" height="50px">&nbsp;</td>
	    <td width="8%"><span class="Mcolor_1">*</span>单文章：</td>
	    <td width="89%">
	    	<select id="leaf" name="leaf" class="newsText1">
	    		<option value="false">否</option>
	    		<option value="true" #if($!subject.leaf)selected#end >是</option>
	    	</select>
	    </td>
	</tr>
    
    <tr>
	    <td width="3%" height="50px">&nbsp;</td>
	    <td width="8%"><span class="Mcolor_1">*</span>同级序号：</td>
	    <td width="89%"><input type="text" id="serial" name="serial" class="Mtext_bj" value="$!subject.serial"/></td>
	</tr>
  
  
	<tr>
		<td width="3%" height="50px" class="Mxian1" >&nbsp;</td>
		<td colspan="2" align="center" class="Mxian1" >
			<input type="submit" value="保存" class="anniu1" />
			<input type="button" value="取消" onclick="history.go(-1); return false;" class="anniu1"/>
		</td>
	</tr>
  </table>
</form>

</body>
</html>